<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andyadc.bms.auth.mapper.AuthMapper">

    <resultMap id="MenuBaseResultMap" type="com.andyadc.bms.auth.entity.AuthMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="target" jdbcType="VARCHAR" property="target"/>
        <result column="visible" jdbcType="TINYINT" property="visible"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <sql id="Menu_Base_Column_List">
        id, parent_id, `type`, `name`, code, permission, component, `path`, icon, seq, target,
        visible, `status`, create_time, update_time, version
    </sql>

    <!-- /// -->

    <select id="selectMenuByUserId" resultMap="MenuBaseResultMap">
        SELECT
        m.*
        FROM
        auth_menu m
        LEFT JOIN auth_role_menu rm ON m.id = rm.menu_id
        LEFT JOIN auth_role r ON rm.role_id = r.id
        LEFT JOIN auth_user_role ur ON ur.role_id = r.id
        LEFT JOIN auth_user u ON u.id = ur.user_id
        WHERE
        u.id = #{userId}
    </select>

</mapper>